@using OperationManager.Models


<div class="modal fade" id="device-details-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Device Details</h5>
                <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>

            <div class="modal-body">
                <div class="start-text">
                    <p>
                        <strong>ID:</strong>
                        <span>@Device.DeviceID</span>
                    </p>
                    <p>
                        <strong>Name:</strong>
                        <span>@Device.Name</span>
                    </p>
                    <p>
                        <strong>Type:</strong>
                        <span>@Device.DeviceType</span>
                    </p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public Device Device { get; set; }
    [Parameter]
    public EventCallback<Device> DeviceChanged { get; set; }

}
